# Standardmäßig ignorierte Dateien
/shelf/
/workspace.xml
# Von Rider ignorierte Dateien
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.ReportService.iml
# Ignorierter Standardordner mit Abfragedateien
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-basierte HTTP-Client-Anfragen
/httpRequests/
